@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0px -640px;
  }
}

@mixin animated-background {
  animation: animatedBackground 30s linear infinite;
}
